@import "./../../scss/variables";

button {
  padding: 10px 20px;
  transition: 0.4s ease;
  letter-spacing: 1px;
  border: none;
  background: #ddd;
  &:hover {
    background: darken(#ddd, 10%);
    transition: 0.4s ease;
  }
}
.primary {
  color: $white-color;
  background: $primary-color;

  &:hover {
    background: lighten($primary-color, 10%);
  }
}
.transparent {
  background: transparent;
}
.gitHub {
  background: #4078c0;
  color: #fafafa;
}
