@import "./../../scss/variables";

button {
  padding: 10px 20px;
  box-sizing: border-box;
  transition: 0.3s ease;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  background: #ddd;
  cursor: pointer;
  // &:hover {
  //   background: darken(#ddd, 10%);
  //   transition: 0.4s ease;
  // }
}
.primary {
  color: $white-color;
  background: $primary-color;
  border: none;

  &:hover {
    background: lighten($primary-color, 5%);
  }
}
.transparent {
  background: transparent;
  border: 1px solid $white-color;
  color: $white-color;
  &:hover {
    transform: scale(1.03);
  }
}
.active {
  background: $primary-color;
  border: 1px solid $primary-color;
  color: $white-color;
}
.gitHub {
  background: transparent;
  border: none;
  color: #fafafa;
  border: 1px solid $white-color;

  svg {
    margin-right: 8px;
  }
  &:hover {
    background: $primary-color;
    border: 1px solid $primary-color;
    color: $white-color;
  }
}
.default {
  background: transparent;
  border: none;
  color: #fafafa;
  border: 1px solid $white-color;
  svg {
    margin-right: 8px;
  }
  &:hover {
    background: darken($color: $primary-color, $amount: 5);
    border: 1px solid $primary-color;
    color: $white-color;
  }
}
