@import "./../../scss/variables";

.header__container {
  background: $black-linear;
  padding: 0 10px;
  height: 50px;
  width: 100%;
  position: fixed;
}
nav {
  display: flex;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  color: $white-color;
  .nav__logo {
    font-size: 2em;
  }
  a {
    padding: 15px;
    text-decoration: none;
    color: $white-color;
    font-weight: 500;
    letter-spacing: 1px;
    //text-transform: uppercase;
    transition: 0.4s ease;
  }
  a:hover {
    background: $primary-color;

    line-height: 2em;
    transition: 0.4s ease;
  }
}
