@import "./../../scss/variables";

// Projects page body

.project__main {
  background-image: $black-linear;
  min-height: 100vh;
}

// Header

.project__head {
  text-align: center;
  padding-top: 100px;
}

// Cards wrapper

.project__card-wrapper {
  margin: 0 auto;
}

// Buttons

.project__buttons {
  margin: 40px auto;
  display: flex;
  max-width: 500px;
  justify-content: center;
  align-self: center;

  button:first-child {
    margin-right: 5px;
  }
  button {
    flex: 1;
    padding: 20px 30px;
    //margin-left: 10px;
    letter-spacing: 1px;
    border: 1px solid$white-color;
    border-radius: 3px;
    color: $white-color;
    background: transparent;
    transition: 0.4s ease;
    outline: none;

    &:hover {
      background: $white-color;
      color: $black-color;
      border: 1px solid $white-color;
      transition: 0.4s ease;
    }
  }
  .btn_active {
    background: $primary-color;
    border: 1px solid $primary-color;
  }
}
