@import "./../../scss/variables";

.container {
  padding: 1em;
  margin: 0 auto;
}
.button-wrapper {
  button {
    margin: 5px;
  }
}
.projects-wrapper {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// Project card

.project {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 10px;
  overflow: hidden;
  text-align: center;
  img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
  }
  h4 {
    margin-top: 5px;
  }
  @media (min-width: 700px) {
    width: calc(50% - 20px);
  }
  @media (min-width: 900px) {
    width: calc(33% - 20px);
  }
}
