@import "variables";

body {
  font-family: Rubik, sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5 {
    letter-spacing: -0.015em;
    font-weight: 700;
    color: $white-color;
  }
  h1 {
    font-size: 7em;
    text-transform: uppercase;
    text-shadow: 7px 6px 9px #161616;

    @media (max-width: 768px) {
      font-size: 4em
    }
    @media (max-width: 525px) {
      font-size: 3em;
    }
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
  }
  p,
  article {
    color: darken($white-color, 10%);
    line-height: 1.65em;
    letter-spacing: 0.015em;
    font-weight: 400;
    margin-bottom: 1em;
  }
}
html {
  background: $black-color;
}

